body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #50b3a2;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

nav {
  background-color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757;
}

#plans-ul {
  list-style-type: none;
  padding: 0;
}

#plans-ul li {
  margin-bottom: 8px;
}

#plans-ul li button:first-child {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#plans-ul li button:first-child:hover {
  background-color: #45a049;
}

.delete-plan-btn {
  background-color: #f44336;
  color: white;
  padding: 8px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.delete-plan-btn:hover {
  background-color: #da190b;
}

.delete-exercise-btn {
  background-color: #f44336;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
}

.delete-exercise-btn:hover {
  background-color: #da190b;
}

main {
  padding: 20px;
}

main section {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

main section h2 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive Design */
@media (max-width: 600px) {
  nav ul li {
    float: none;
    width: 100%;
  }

  nav ul li a {
    text-align: center;
  }

  header, main, footer {
    padding: 10px;
  }
}
